/*як зробити щоб see more опускало все сторінку вниз*/
ul {
	list-style: none;
}

details {
	list-style: none;
}

body {
	box-sizing: border-box;
	margin: auto;
}

header {
	box-sizing: border-box;
	width: 1440px;
	height: 116px;
	display: flex;
	align-items: center;
	font-family: 'Montserrat';
}



section {

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140.62%;
text-align: justify;
color: #000000;
}

.header-logo {
	font-family: 'Homemade Apple';
	font-style: normal;
	margin-left: 80px;
	font-weight: 400;
	font-size: 18px;
	line-height: 39px;
	color: #F7941E;
}

.header-list {
	position: absolute;
	display: flex;
	margin-left: 554px;
	padding: unset;
}

.header-list > li {
	margin: 15px;
}

.header-button {
	position: absolute;
	box-sizing: border-box;
	font-family: 'Montserrat';
	font-size: 18px;
	color: #F7941E;
	background: unset;
	width: 150px;
	height: 43.5px;
	padding: 3px;
	border: 1px solid #F7941E;
	margin-left: 1256px;
}

.header-button:hover {
	color: white;
	background: #F7941E;
}

.section-main {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	width: 1440px;
	height: 600px;
	background: #F1F1F2;
}

.first-leftside {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 720px;
	height: 700px;
	margin: 0px;
}

.first-leftside>h3 {
	position: absolute;
	width: 433px;
	height: 205px;
	margin: auto;
	left: 162px;
	top: 154px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-size: 56px;
	line-height: 68px;
	color: #000000;
}

.first-leftside > p {
	position: absolute;
	margin: auto;
	width: 422px;
	height: 57px;
	left: 162px;
	top: 396px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 140.62%;
	color: #000000;
}

.hero-button{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	width: 200px;
	height: 60px;
	position: absolute;
	top: 505px;
	left: 162px;
	background: #F7941E;
	border-radius: 5px;
	color: #FFFFFF;
	border: none;

}

.hero-button:hover {
	background: unset;
	color: #F7941E;
	border: 1px solid #F7941E;

}


.section-main h4 {
	position: absolute;
	top: 164px;
	left: 833px;
	margin: auto;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 140.62%;

}

.second-p {
	position: absolute;
	margin: auto;
	width: 441px;
	top: 232px;
	left: 833px;
}

.second-button {
	position: absolute;
	margin: auto;
	top: 436px;
	left: 833px;
	width: 200px;
	height: 60px;
	border: 1px solid #F7941E;
	border-radius: 5px;
	background: unset;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 134.77%;
	color: #F7941E;
}

.second-button:hover {
	color: white;
	background: #F7941E;
	}


.section-main2 {
	position: relative;
	box-sizing: border-box;
	width: 1440px;
	height: 820px;
}

.section-main2 > h2{
	margin-top: 96px;
	margin-bottom: 22px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #000000;
}

.section-main2 > p{
	margin: auto;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24.47px;
	text-align: center;
	color: #000000;
}

.occasions-table {
	display: flex;
	justify-content: center;
	margin-top: 64px;
}

.occasions-table-li{
	width: 270px;
	margin: 0px 15px 0px 15px;
	background: #FAFAFA;
	}

.occasions-table-li > p {
	margin: 24px;
	font-size: 25px;
}

.occasions-table-li > details {
	margin-left: 24px;
	font-size: 14px;
}

.container-orange {
	position: relative;
	background: #F7941E;
	display: flex;
	width: 1440px;
	height: 240px;
}

.container-orange h3 {
	position: absolute;
	margin: auto;
	top: 81px;
	left: 235px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 140.62%;
	color: #000000;

}

.container-orange p {
	position: absolute;
	top: 126px;
	left: 235px;
	margin: auto;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 140.62%;
/* identical to box height, or 45px */

color: #000000;
}


.container-orange ul {
	position: absolute;
	top: 96px;
	left: 789px;
	display: flex;
}

.container-orange button {
	margin-left: 16px;
	}


.second-button2 {
	background: unset;
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid black;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}

.second-button2:hover {
	background: black;
	border: none;
	color: #F7941E;
}

.best-blog {
margin: auto;
padding: auto;
}

.best-blog > h2 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	margin: 88px 0px 22px 0px;

}

.best-blog p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: center;
color: #000000;
margin: 0px 0px 71px 0px;
}

.best-blog2 {
	position: relative;
display: flex;
align-items: center;
justify-content: center;

}

.best-blog2 img{
max-width: 100%;
width: 400px;
height: 370px;
border-style: none;
 }

.black-box {
	width: 770px;
	height: 370px;
	color: #FFFFFF;
	background: #231F20;
}

.black-box > p {
		color: #FFFFFF;
		width: 770px;
		height: 370px;
}

.best-table {
	display: flex;
	justify-content: center;
	padding: unset;
}

.best-table li {
	width: 570px;
	height: 290px;
}

.best-table li:first-child {
	margin-right: 30px;
}


.best-table li:hover {
	box-shadow: 8px 3px 5px #F7941E;
  }

.best-table h5 {
	width: 474px;
	height: 68px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	color: #000000;
}



.best-table p {
	width: 474px;
	height: 72;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 140.62%;
	color: #000000;
	text-align: left;
}

footer {

}

.footer-ul{
	display: flex;
	justify-content: center;
}

.icons {
	display: flex;
	justify-content: center;
}

.lastone {
	text-align: center;
}